<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>635422218709-a69cfpm7ue1lq8so48d7hd9v44j9p1qs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.635422218709-a69cfpm7ue1lq8so48d7hd9v44j9p1qs</string>
	<key>API_KEY</key>
	<string>AIzaSyBeFbeQeNB2m89AXtncunqj8fnuc8uMGB0</string>
	<key>GCM_SENDER_ID</key>
	<string>635422218709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.erik.TheFantasticRace</string>
	<key>PROJECT_ID</key>
	<string>thefantasticrace-9ceca</string>
	<key>STORAGE_BUCKET</key>
	<string>thefantasticrace-9ceca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635422218709:ios:f90450fd024159f0a8855c</string>
	<key>DATABASE_URL</key>
	<string>https://thefantasticrace-9ceca.firebaseio.com</string>
</dict>
</plist>